/* You can add global styles to this file, and also import other style files */
*{
    justify-content: center;

   
   
  
}
body{
   
    padding: 10px;
    justify-content: center;

}
div{
    
}
button{
    background-color: #f39508;
}
    
